.accordion_container{
    position: fixed;
    top:104px;
    left:0;
    bottom: 0;
    width:20%;
}
.form_container{
    position:absolute;
    top:104px;
    left:20%;
    right:0;
    bottom: 0;
    padding:0 20px;
}
.subsection_list{
    margin:15px 0;
}